<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

  <title>Text Utils..</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> <!-- Changed classes to make navbar dark <nav class="navbar navbar-expand-lg bg-body-tertiary"> -->

  <div class="container"> <!--container apear in particular area-->
    <a class="navbar-brand" href="http://127.0.0.1:8000/">Text Editor</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/about">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/blog">Blog</a>
        </li>



        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
  <div class="alert alert-success" role="alert">
  <strong>Congratulation Your text has been Analyzed:-{{purpose}}</strong> You can see your result below:-
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
  <br>
     <form action='/analyze' method='post'>
<div class="container">

    <p>
      <pre>
        <h3>{{analyzed_text}}</h3>
      </pre>
    </p>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
