<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remove Punctuations</title>
</head>
<body>
    <h1>Welcome to the text analyser Please enter the text below.</h1>

    <form action='/analyze' method='get'>

    <textarea name = 'text' style="width: 720px; height: 127px;"></textarea><br>
    <input type="checkbox" name = "removepunc"> Remove Punctuations <br>
    <input type="checkbox" name = "spaceremove"> Extraspace Remover <br>
    <input type="checkbox" name = "uppercase"> UPPERCASE <BR>
    <input type="checkbox" name="charcount"> Character Count<br>
    <input type="checkbox" name="newlineremover" > Remove New Line<br>

    <button type="submit">Analyse Text</button>

</body>
</html>